<title><%= 'About Us' %></title> 
<div class="main-banner"><%= link_to image_tag("banner.jpg", alt: "Banner")%></div>
<div class="clear"></div>     
<div class="main-column">
  <div class="main-column-content">
    <div class="main-column-content-heading">
      <h1>About Us</h1>    
    </div>
    <!-- <div class="right-column-content-img-left"> <%= link_to image_tag("img-1.png", alt: "Banner")%></div>-->
    <div class="main-column-content-content"><p>Based in Australia, Auto-IT specialises in the development and marketing of dealer management software systems that operate retail dealerships in the automotive, trucking, agriculture and construction equipment industries.
	Our range of next generation solutions help our clients run their dealerships more effectively, efficiently and profitably.
	Auto-IT is a profitable private company and one of the two largest dealer management system providers in Australasia, employing over 100 staff. The company was formed in 2000 as a result of a merger between two respected dealer management software system suppliers, KGM Management and Newmans Information Services – both veterans of the DMS industry for more than 35 years.</p>
	<h4>Values | Mission | Vision</h4>
	<p>The principles under which we operate are extremely important to us. Far from empty platitudes, they define us as a business and guide everything we do. Over the years, we’ve witnessed how much these principles have served to differentiate us in our industry.</p>
	<h5>VALUES</h5>
	Honesty and Integrity – We will abide by our code of ethics in all our dealings with our customers and with each other. We will be honest and truthful in all our dealings at all times.
	Respect – We will treat our customers and each other with respect. This means listening to their opinions and accepting the right of others to hold differing views.
	Fairness – We will treat customers and staff at all times in a fair and equitable manner.
	<h5>MISSION</h5>
	We develop and support innovative Dealer Management Solutions for the Automotive, Agricultural, Trucking and Construction Equipment industries.
	These systems are designed to improve the experience of customers in our clients’ businesses and to maximize our dealers’ productivity and profits.
	<h5>VISION</h5>
	Auto-IT will be the number one DMS supplier in terms of market share, or market share growth, in every market in which we choose to compete.
	The success of our customers will be the ultimate measure of the uncompromising quest for excellence by all our people.
	<h5>ETHICS</h5>
	We will be scrupulously honest with clients, suppliers and trading partners.
	We will never “undersell” a system and add fees and charges later.
	We will not misrepresent our product and what it can do.
	We will not mislead or confuse others with technical jargon.
	We will not denigrate the competition.
	We will disclose any potential conflict of interest to our trading partners.
	We will maintain the confidentiality of our clients and their information.
	We will work hard to keep our promises and never make promises we can’t keep.
	<h5>GOAL</h5>
	To be independently rated number 1 for customer satisfaction, in all markets in which we choose to compete. 
    </div>
  </div>
</div>
