<title><%= 'Logout' %></title> 
<div class="main-banner"><%= link_to image_tag("banner.jpg", alt: "Banner")%></div>
<div class="clear"></div>  
<div class="main-column">
  <div class="main-column-content-withimg">    
  <div align="center">
	  <div class="dark-panel">
		    <div class="dark-panel-top"></div>
		    <div class="dark-panel-center">
		      <ul>
		        <li>
		          <h1>Access Denied</h1>
		        </li>
		        <li>
		          </br>		   
		          <p>You are not authorized to view </p>
		          <p>this page.</p>
		        </li>		      
		      </ul>
		    </div>		    
		    <div class="dark-panel-bottom"></div>
		  </div>    
	  </div>   
  </div>
</div>
