<title><%= 'Home' %></title> 
<div class="main-banner"><%= link_to image_tag("banner.jpg", alt: "Banner")%></div>
<div class="clear"></div>     
<div class="main-column">
  <div class="main-column-content">
    <div class="main-column-content-heading">
      <h1>Issue Management System</h1>
      <h2>IMS is a computer software package that manages and maintains lists of issues, as needed by an organization</h2>
    </div>
    <!-- <div class="right-column-content-img-left"> <%= link_to image_tag("img-1.png", alt: "Banner")%></div>-->
    <div class="main-column-content-content">
      <p>Issue Management Systems are commonly used in an organization's customer support call center to create, update, and resolve reported customer issues, or even issues reported by that organization's other employees. A support ticket should include vital information for the account involved and the issue encountered. IMS often also contains a knowledge base containing information on each customer, resolutions to common problems, and other such data. An IMS is similar to a "bugtracker", and often, a software company will sell both, and some bugtrackers are capable of being used as an issue tracking system, and vice versa. Consistent use of an issue or bug tracking system is considered one of the "hallmarks of a good software team".
      A ticket element, within an IMS, is a running report on a particular problem, its status, and other relevant data. They are commonly created in a help desk or call center environment and almost always have a unique reference number, also known as a case, issue or call log number which is used to allow the user or help staff to quickly locate, add to or communicate the status of the user's issue or request.</p>
      <p>These tickets are so called because of their origin as small cards within a traditional wall mounted work planning system when this kind of support started. Operators or staff receiving a call or query from a user would fill out a small card with the user's details and a brief summary of the request and place it into a position (usually the last) in a column of pending slots for an appropriate engineer, so determining the staff member who would deal with the query and the priority of the request.
      </p>
      <!-- <div class="button"><a href="#" >More Info</a></div> -->
      <h4>IMS is a collection of Projects<h4>
      <h5>What is a Project<h5>
      <P>A IMS project is a collection of issues, and is defined according to your organisation's requirements. For example, a IMS project could be:
      <ul>
        <li>a software development project</li>
        <li>a marketing campaign</li>
        <li>a helpdesk system</li>
        <li>a leave request management system</li>
        <li>a website enhancement request system</li>
       </ul>
      </p>


    </div>
  </div>
</div>
