<div class="footer-wrapper">
  <div class="footer-top"></div>
  <div class="footer-center">
    <div class="footer-content-left">
      <h1>Auto-IT</h1>
      <h2>Automotive Dealer Management System</h2>
      <p>For over 35 years, we've driven advances in dealer management technology, with many of the efficiencies enjoyed by dealers today pioneered by our team.</p>
      <p>Auto-IT is a leading supplier of dealer management systems to the retail agriculture equipment industry in a number of countries, including Australia, New Zealand and South Africa.</p>
    </div>
    <div class="footer-content-right">
      <h1>Ramesh Kumar</h1>
      <h2>Senior Ruby Developer</h2>
      <h2>Auto-IT.</h2>
      <h3>Email: rsubramaniam@auto-it.com.au</h3>
      <h3>Phone: +61 (0)393493062</h3>
    </div>
  </div>
  <div class="footer-bottom"></div>
</div>